<div class="contents">
  <div>
    <h1 class="detail-titel">
      $U<span class="badge badge-primary">進行中</span>
    </h1>
  </div>
  <div class="detail-contents">
    <div class="row mb-4">
      <div class="col-6 themed-grid-col">
        <label class="title">現在価格</label>
        <label class="content">${{ currentPrice }}</label>
      </div>
      <div class="col-6 themed-grid-col">
        <label class="title">購入価格</label>
        <label class="content">${{ buyPrice }}</label>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-6 themed-grid-col">
        <label class="title">開始日</label>
        <label class="content">2020/12/29</label>
      </div>
      <div class="col-6 themed-grid-col">
        <label class="title">終了日</label>
        <label class="content"></label>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-6 themed-grid-col">
        <label class="title">分析終了価格</label>
        <label class="content"></label>
      </div>
    </div>
    <div class="row mb-4">
      <label class="title">取引理由</label>
      <textarea disabled></textarea>
    </div>
    <div class="row mb-4">
      <label class="title">取引結果・考察</label>
      <textarea disabled></textarea>
    </div>
  </div>
  <!-- <div class="price-list">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col" class="col-1">購入時株価</th>
          <th scope="col" class="col-1">現在価格</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr>
          <td colspan="2">Larry the Bird</td>
          <td>@twitter</td>
        </tr>
      </tbody>
    </table>
  </div> -->
</div>
