<div class="contents">
  <div>
    <h1 class="detail-titel">
      $U<span class="badge badge-primary">進行中</span>
    </h1>
  </div>
  <div class="detail-contents">
    <div class="row mb-4">
      <div class="col-6 themed-grid-col">
        <label class="title">現在価格</label>
        <label class="content">$157</label>
      </div>
      <div class="col-6 themed-grid-col">
        <label class="title">購入価格</label>
        <label class="content">$107</label>
      </div>
    </div>
    <div class="row mb-4">
      <label class="title">取引理由</label>
      <textarea disabled></textarea>
    </div>
    <div class="row mb-4">
      <label class="title">取引結果・考察</label>
      <textarea disabled></textarea>
    </div>
  </div>
</div>
