<div class="contents">
  <h1 class="list-title">
    分析銘柄一覧
  </h1>
  <div class="list-contents">
    <div class="row mb-3">
      <div class="col-3 themed-grid-col">
        銘柄名
      </div>
      <div class="col-3 themed-grid-col">
        購入価格
      </div>
      <div class="col-3 themed-grid-col">
        現在価格
      </div>
      <div class="col-3 themed-grid-col">
        結果
      </div>
      <div class="col-3 themed-grid-col"></div>
    </div>
    <div class="row mb-3">
      <a
        class="col-3 themed-grid-col"
        [routerLink]="['/stock-detail']"
        [queryParams]="{page : u }"
      >
        $U
      </a>
      <div class="col-3 themed-grid-col">
        $107
      </div>
      <div class="col-3 themed-grid-col">
        $157
      </div>
      <div class="col-3 themed-grid-col">
        上昇
      </div>
    </div>
    <div class="row mb-3">
      <a class="col-3 themed-grid-col" [routerLink]="['/stock-detail', rprx]">
        $RPRX
      </a>
      <div class="col-3 themed-grid-col">
        $37.9868
      </div>
      <div class="col-3 themed-grid-col">
        $49.24
      </div>
      <div class="col-3 themed-grid-col">
        上昇
      </div>
    </div>
    <div class="row mb-3">
      <a class="col-3 themed-grid-col" [routerLink]="['/stock-detail', zm]">
        $ZM
      </a>
      <div class="col-3 themed-grid-col">
        $399.5250
      </div>
      <div class="col-3 themed-grid-col">
        $351.39
      </div>
      <div class="col-3 themed-grid-col">
        下落
      </div>
    </div>
  </div>
</div>
